# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Demonstrate evaluating arithmetic expressions in Python
* Share tools used by Data Scientists

**Some of the popular languages that Data Scientists use are:**
* Python
* R
* SQL
* Scala
* Julia

**Some of the commonly used libraries used by Data Scientists include:**
* Pandas
* NumPy
* Matplotlib
* Seaborn
* Scikit-learn
* Pytorch
* Keras
* TensorFlow

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
min =200
hours = 60
print(f"200 minutes ={min/hours} hours")

200 minutes =3.3333333333333335 hours

## Author
Suphawit MeeSak